ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-container{
    width: 100%;
    height: 30px;
    background:#ebe8eb;
}
.footer-box{
    padding: 0 20px;
    .title{
        width: 100%;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
    }
}
