ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skills-container{
    width: 100%;
    height: 920px;
    background:linear-gradient(#F7DCDB,#EAE7E4);
}
.skills-box{
    padding: 0 20px;
    .title{
        width: 100%;
        height: 50px;
        font-size: 40px;
        padding-top: 30px;
        font-weight: 900;
        margin-bottom: 50px;
    }
    .list{
        text-align: left;
        font-size: 18px;
        font-weight: 700;
        >li{
            height: 66px;
            line-height: 66px;
        }
    }
}
