/* @font-face {
  font-family: 'helvetica';
  src: url('./assets/HelveticaNeue-Regular.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap');
.App {
  text-align: center;
  color: #2e2e2e;
  /* font-family: 'helvetica'; */
  font-family: 'Noto Sans KR', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}